# DS-001 - INTRODUÇÃO À ANÁLISE DE DADOS COM PYTHON
### Prof. Felipe Lobo
*Esta disciplina tem 08h de atividades presenciais em sala de aula e 08h on-line no Moodle.*

---
**Aula 4**
**Pergunta orientadora:** Como selecionar e importar bases de dados promissoras para análise no ambiente do Jupyter Notebook?

**Entregável:** Base de dados para o projeto do Módulo.

**Experiência:** obter base de dados sobre Covid-19 no Github do Centro de Pesquisa Johns Hopkins e visualizá-la.

---

**Base de Dados que utilizaremos:**
[Link-Dados-Covid-Global](https://github.com/CSSEGISandData/COVID-19/tree/master/who_covid_19_situation_reports)

### **Roteiro da aula**
## 1- extrair algumas informações da base de dados
Se tirarmos uma snapshot da base de apenas um dia, podemos ter uma informação limitada
Ex: casos corifmados na china é muito maior que nos outros países, já o número de novos casos a situação é inversa.

Acessar o endereço
https://boavista.rr.gov.br/prefeitura/secretarias-e-orgaos-municipais/secretaria-municipal-de-saude/boletim-epidemiologico

https://boavista.rr.gov.br/painel-interativo-sobre-covid-19

## 2- combinar dados de lugares diferentes
-- usar métodos concat, set_index, sort_values e dropna

## 3- calcular taxa incidência e mortalidade

In [ ]:


# 1) Importe a biblioteca PANDAS. Ela possui códigos prontos, para que possamos abrir com o Python a base de dados.
import pandas as pd

# 2) Obtenha as bases de dados.
### O caminho abaixo corresponde à localização do arquivo. O seu caminho pode ser diferente.
confirmados = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')

mortes = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')

recuperados = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')

# 3) Verifique o conteúdo da base de dados, para estar seguro de que os dados foram obtidos adequadamente.
### Podemos ter uma noção do conteúdo do banco, pedindo para o Python nos mostrar os seus 5 primeiros registros.

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288

### Exercício 1 - Mostrar as 05 primeiras linhas dos 3 DataFrames

## Dica - Use uma célua de códig para cada resposta

In [ ]:
In [9]: confirmados.head
<bound method NDFrame.head of     Province/State        Country/Region        Lat        Long  1/22/20  1/23/20  1/24/20  1/25/20  ...  3/2/23  3/3/23  3/4/23  3/5/23  3/6/23  3/7/23  3/8/23  3/9/23
0              NaN           Afghanistan  33.939110   67.709953        0        0        0        0  ...  209358  209362  209369  209390  209406  209436  209451  209451
1              NaN               Albania  41.153300   20.168300        0        0        0        0  ...  334408  334427  334427  334427  334427  334427  334443  334457
2              NaN               Algeria  28.033900    1.659600        0        0        0        0  ...  271463  271469  271469  271477  271477  271490  271494  271496
3              NaN               Andorra  42.506300    1.521800        0        0        0        0  ...   47875   47875   47875   47875   47875   47875   47890   47890
4              NaN                Angola -11.202700   17.873900        0        0        0        0  ...  105277  105277  105277  105277  105277  105277  105288  105288
..             ...                   ...        ...         ...      ...      ...      ...      ...  ...     ...     ...     ...     ...     ...     ...     ...     ...
284            NaN    West Bank and Gaza  31.952200   35.233200        0        0        0        0  ...  703228  703228  703228  703228  703228  703228  703228  703228
285            NaN  Winter Olympics 2022  39.904200  116.407400        0        0        0        0  ...     535     535     535     535     535     535     535     535
286            NaN                 Yemen  15.552727   48.516388        0        0        0        0  ...   11945   11945   11945   11945   11945   11945   11945   11945
287            NaN                Zambia -13.133897   27.849332        0        0        0        0  ...  343079  343079  343079  343135  343135  343135  343135  343135
288            NaN              Zimbabwe -19.015438   29.154857        0        0        0        0  ...  264127  264127  264127  264127  264127  264127  264276  264276

[289 rows x 1147 columns]>

In [ ]:
In [13]: recuperados.head
<bound method NDFrame.head of     Province/State        Country/Region        Lat        Long  1/22/20  1/23/20  1/24/20  1/25/20  ...  3/2/23  3/3/23  3/4/23  3/5/23  3/6/23  3/7/23  3/8/23  3/9/23
0              NaN           Afghanistan  33.939110   67.709953        0        0        0        0  ...       0       0       0       0       0       0       0       0
1              NaN               Albania  41.153300   20.168300        0        0        0        0  ...       0       0       0       0       0       0       0       0
2              NaN               Algeria  28.033900    1.659600        0        0        0        0  ...       0       0       0       0       0       0       0       0
3              NaN               Andorra  42.506300    1.521800        0        0        0        0  ...       0       0       0       0       0       0       0       0
4              NaN                Angola -11.202700   17.873900        0        0        0        0  ...       0       0       0       0       0       0       0       0
..             ...                   ...        ...         ...      ...      ...      ...      ...  ...     ...     ...     ...     ...     ...     ...     ...     ...
269            NaN    West Bank and Gaza  31.952200   35.233200        0        0        0        0  ...       0       0       0       0       0       0       0       0
270            NaN  Winter Olympics 2022  39.904200  116.407400        0        0        0        0  ...       0       0       0       0       0       0       0       0
271            NaN                 Yemen  15.552727   48.516388        0        0        0        0  ...       0       0       0       0       0       0       0       0
272            NaN                Zambia -13.133897   27.849332        0        0        0        0  ...       0       0       0       0       0       0       0       0
273            NaN              Zimbabwe -19.015438   29.154857        0        0        0        0  ...       0       0       0       0       0       0       0       0

[274 rows x 1147 columns]>

In [ ]:
In [12]: mortes.head
<bound method NDFrame.head of     Province/State        Country/Region        Lat        Long  1/22/20  1/23/20  1/24/20  1/25/20  ...  3/2/23  3/3/23  3/4/23  3/5/23  3/6/23  3/7/23  3/8/23  3/9/23
0              NaN           Afghanistan  33.939110   67.709953        0        0        0        0  ...    7896    7896    7896    7896    7896    7896    7896    7896
1              NaN               Albania  41.153300   20.168300        0        0        0        0  ...    3598    3598    3598    3598    3598    3598    3598    3598
2              NaN               Algeria  28.033900    1.659600        0        0        0        0  ...    6881    6881    6881    6881    6881    6881    6881    6881
3              NaN               Andorra  42.506300    1.521800        0        0        0        0  ...     165     165     165     165     165     165     165     165
4              NaN                Angola -11.202700   17.873900        0        0        0        0  ...    1933    1933    1933    1933    1933    1933    1933    1933
..             ...                   ...        ...         ...      ...      ...      ...      ...  ...     ...     ...     ...     ...     ...     ...     ...     ...
284            NaN    West Bank and Gaza  31.952200   35.233200        0        0        0        0  ...    5708    5708    5708    5708    5708    5708    5708    5708
285            NaN  Winter Olympics 2022  39.904200  116.407400        0        0        0        0  ...       0       0       0       0       0       0       0       0
286            NaN                 Yemen  15.552727   48.516388        0        0        0        0  ...    2159    2159    2159    2159    2159    2159    2159    2159
287            NaN                Zambia -13.133897   27.849332        0        0        0        0  ...    4057    4057    4057    4057    4057    4057    4057    4057
288            NaN              Zimbabwe -19.015438   29.154857        0        0        0        0  ...    5668    5668    5668    5668    5668    5668    5671    5671

[289 rows x 1147 columns]>

In [ ]:
# 4) Podemos ter uma ideia dos últimos 5 itens do nosso banco, pedindo isso ao Python com o seguinte comando.
confirmados.tail()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,703228,703228,703228,703228,703228,703228,703228,703228,703228,703228
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,343012,343012,343079,343079,343079,343135,343135,343135,343135,343135
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,263921,264127,264127,264127,264127,264127,264127,264127,264276,264276

### Exercício 2.

## - Calcule, crie os dataframes (confirmados_por_pais, mortes_por_pais, recuperados_por_pais) e imprima o número total de casos confirmados, mortes e recuperados por país em cada um dos dataframes.

In [ ]:
Total de casos confirmados por país:
           Country/Region        Long  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  1/28/20  ...  3/1/23  3/2/23  3/3/23  3/4/23  3/5/23  3/6/23  3/7/23  3/8/23  3/9/23
0             Afghanistan   67.709953        0        0        0        0        0        0        0  ...  209340  209358  209362  209369  209390  209406  209436  209451  209451
1                 Albania   20.168300        0        0        0        0        0        0        0  ...  334408  334408  334427  334427  334427  334427  334427  334443  334457
2                 Algeria    1.659600        0        0        0        0        0        0        0  ...  271448  271463  271469  271469  271477  271477  271490  271494  271496
3                 Andorra    1.521800        0        0        0        0        0        0        0  ...   47875   47875   47875   47875   47875   47875   47875   47890   47890
4                  Angola   17.873900        0        0        0        0        0        0        0  ...  105277  105277  105277  105277  105277  105277  105277  105288  105288
..                    ...         ...      ...      ...      ...      ...      ...      ...      ...  ...     ...     ...     ...     ...     ...     ...     ...     ...     ...
196    West Bank and Gaza   35.233200        0        0        0        0        0        0        0  ...  703228  703228  703228  703228  703228  703228  703228  703228  703228
197  Winter Olympics 2022  116.407400        0        0        0        0        0        0        0  ...     535     535     535     535     535     535     535     535     535
198                 Yemen   48.516388        0        0        0        0        0        0        0  ...   11945   11945   11945   11945   11945   11945   11945   11945   11945
199                Zambia   27.849332        0        0        0        0        0        0        0  ...  343012  343079  343079  343079  343135  343135  343135  343135  343135
200              Zimbabwe   29.154857        0        0        0        0        0        0        0  ...  264127  264127  264127  264127  264127  264127  264127  264276  264276

[201 rows x 1145 columns]

Total de mortes por país:
           Country/Region        Long  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  1/28/20  ...  3/1/23  3/2/23  3/3/23  3/4/23  3/5/23  3/6/23  3/7/23  3/8/23  3/9/23
0             Afghanistan   67.709953        0        0        0        0        0        0        0  ...    7896    7896    7896    7896    7896    7896    7896    7896    7896
1                 Albania   20.168300        0        0        0        0        0        0        0  ...    3598    3598    3598    3598    3598    3598    3598    3598    3598
2                 Algeria    1.659600        0        0        0        0        0        0        0  ...    6881    6881    6881    6881    6881    6881    6881    6881    6881
3                 Andorra    1.521800        0        0        0        0        0        0        0  ...     165     165     165     165     165     165     165     165     165
4                  Angola   17.873900        0        0        0        0        0        0        0  ...    1933    1933    1933    1933    1933    1933    1933    1933    1933
..                    ...         ...      ...      ...      ...      ...      ...      ...      ...  ...     ...     ...     ...     ...     ...     ...     ...     ...     ...
196    West Bank and Gaza   35.233200        0        0        0        0        0        0        0  ...    5708    5708    5708    5708    5708    5708    5708    5708    5708
197  Winter Olympics 2022  116.407400        0        0        0        0        0        0        0  ...       0       0       0       0       0       0       0       0       0
198                 Yemen   48.516388        0        0        0        0        0        0        0  ...    2159    2159    2159    2159    2159    2159    2159    2159    2159
199                Zambia   27.849332        0        0        0        0        0        0        0  ...    4057    4057    4057    4057    4057    4057    4057    4057    4057
200              Zimbabwe   29.154857        0        0        0        0        0        0        0  ...    5668    5668    5668    5668    5668    5668    5668    5671    5671

[201 rows x 1145 columns]

Total de recuperados por país:
           Country/Region        Long  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  1/28/20  ...  3/1/23  3/2/23  3/3/23  3/4/23  3/5/23  3/6/23  3/7/23  3/8/23  3/9/23
0             Afghanistan   67.709953        0        0        0        0        0        0        0  ...       0       0       0       0       0       0       0       0       0
1                 Albania   20.168300        0        0        0        0        0        0        0  ...       0       0       0       0       0       0       0       0       0
2                 Algeria    1.659600        0        0        0        0        0        0        0  ...       0       0       0       0       0       0       0       0       0
3                 Andorra    1.521800        0        0        0        0        0        0        0  ...       0       0       0       0       0       0       0       0       0
4                  Angola   17.873900        0        0        0        0        0        0        0  ...       0       0       0       0       0       0       0       0       0
..                    ...         ...      ...      ...      ...      ...      ...      ...      ...  ...     ...     ...     ...     ...     ...     ...     ...     ...     ...
196    West Bank and Gaza   35.233200        0        0        0        0        0        0        0  ...       0       0       0       0       0       0       0       0       0
197  Winter Olympics 2022  116.407400        0        0        0        0        0        0        0  ...       0       0       0       0       0       0       0       0       0
198                 Yemen   48.516388        0        0        0        0        0        0        0  ...       0       0       0       0       0       0       0       0       0
199                Zambia   27.849332        0        0        0        0        0        0        0  ...       0       0       0       0       0       0       0       0       0
200              Zimbabwe   29.154857        0        0        0        0        0        0        0  ...       0       0       0       0       0       0       0       0       0

[201 rows x 1145 columns]

## Como unir as bases de dados?
- Função concat para concatenar as bases, conforme exemplo abaixo:

In [ ]:
# criando uma tabela unindo as bases
nova_DB = [confirmados_por_pais, mortes_por_pais, recuperados_por_pais]
base_combinada = pd.concat(nova_DB, axis=1)
base_combinada

In [ ]:

Out[15]:
           Country/Region        Long  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  1/28/20  ...  3/1/23  3/2/23  3/3/23  3/4/23  3/5/23  3/6/23  3/7/23  3/8/23  3/9/23
0             Afghanistan   67.709953        0        0        0        0        0        0        0  ...       0       0       0       0       0       0       0       0       0
1                 Albania   20.168300        0        0        0        0        0        0        0  ...       0       0       0       0       0       0       0       0       0
2                 Algeria    1.659600        0        0        0        0        0        0        0  ...       0       0       0       0       0       0       0       0       0
3                 Andorra    1.521800        0        0        0        0        0        0        0  ...       0       0       0       0       0       0       0       0       0
4                  Angola   17.873900        0        0        0        0        0        0        0  ...       0       0       0       0       0       0       0       0       0
..                    ...         ...      ...      ...      ...      ...      ...      ...      ...  ...     ...     ...     ...     ...     ...     ...     ...     ...     ...
196    West Bank and Gaza   35.233200        0        0        0        0        0        0        0  ...       0       0       0       0       0       0       0       0       0
197  Winter Olympics 2022  116.407400        0        0        0        0        0        0        0  ...       0       0       0       0       0       0       0       0       0
198                 Yemen   48.516388        0        0        0        0        0        0        0  ...       0       0       0       0       0       0       0       0       0
199                Zambia   27.849332        0        0        0        0        0        0        0  ...       0       0       0       0       0       0       0       0       0
200              Zimbabwe   29.154857        0        0        0        0        0        0        0  ...       0       0       0       0       0       0       0       0       0

[201 rows x 3435 columns]

[texto do link](https://)Mudando o nome das colunas

In [ ]:
base_combinada.columns = ["confirmadas", "mortes", "recuperados"]
base_combinada.head()

### Exercício 3
- Qual o país com maior número de casos confirmados?

   R= O país com o maior número de casos confirmados é US com um total de 103802702 casos confirmados.
- Qual o país com maior número de mortes?

   R= O país com o maior número de mortes é US com um total de 1123836 mortes.

### Biblioteca Matplotlib

- Uma das principais bibliotecas de visualização de dados em Python.
- Permite a criação de gráficos e visualização de alta qualidade de forma simples e eficiente.
- Tipos de gráficos: linhas, barra, histogramas e disperção.

In [ ]:
### Importar a biblioteca
import matplotlib.pyplot as plt

### Exemplo de gráfico  de linha
base_combinada.plot()

In [ ]:
### Exemplo de gráfico  de barras
base_combinada.plot(kind = "bar")

In [ ]:
### Exemplo de gráfico histograma
base_combinada.plot(kind = "hist")

### Existe maneiras de melhorias nos gráficos
- Ajustar o tamanho da Figura (figsize)
- título (title)
- nomear os eixos (xlabel, ylabel)

In [ ]:
base_combinada.plot(figsize=(10,6), title = "Cenário Covid", xlabel="Eixo x", ylabel="Eixo y")

### Exercício 4

- Plote um gráfico de linha mostrando a tendência de casos confirmados ao longo do tempo para um país específico.

- Crie um gráfico de barras mostrando os cinco países com o maior número de mortes.

### Como calcular a taxa de mortalidade?

- Pesquise na internet, em local de fonte confiável, como se dá o cálculo da taxa de mortalidade e letalidade.

A taxa de mortalidade e a taxa de letalidade são duas métricas diferentes usadas para avaliar o impacto de uma doença como a COVID-19. Aqui está a diferença entre elas e como são calculadas:

1. **Taxa de Mortalidade**: A taxa de mortalidade é a proporção de pessoas que morreram de uma doença em relação ao número total de casos diagnosticados. Para calcular a taxa de mortalidade da COVID-19, você divide o número total de mortes pelo número total de casos confirmados e multiplica por 100 para obter a porcentagem.

   $$ \text{Taxa de Mortalidade} = \frac{\text{Número total de mortes}}{\text{Número total de casos confirmados}} \times 100 $$

2. **Taxa de Letalidade**: A taxa de letalidade é a proporção de pessoas que morreram de uma doença em relação ao número total de pessoas infectadas, incluindo os casos assintomáticos ou não detectados. Para calcular a taxa de letalidade da COVID-19, você divide o número total de mortes pelo número total de pessoas infectadas (não apenas os casos confirmados) e multiplica por 100 para obter a porcentagem.

   $$ \text{Taxa de Letalidade} = \frac{\text{Número total de mortes}}{\text{Número total de pessoas infectadas}} \times 100 $$

Essas duas métricas são importantes para entender o impacto de uma doença, mas elas podem produzir resultados diferentes dependendo da disponibilidade de testes e da precisão dos dados de contagem de casos e mortes. A taxa de mortalidade é mais comumente usada porque os dados sobre casos confirmados são mais disponíveis e precisos em comparação com o número total de pessoas infectadas.

### Exercício 5

- Calcule a taxa de mortalidade e encontre os países com as maiores e menores taxas.

País com a maior taxa de mortalidade: País    Korea, North
País    Korea, North
País    Korea, North
Name: 93, dtype: object - Taxa: 600.00%
País com a menor taxa de mortalidade: País    Antarctica
País    Antarctica
País    Antarctica
Name: 5, dtype: object - Taxa: 0.00%

- Calcule a taxa de letalidade e encontre os países com as maiores e menores taxas.

País com a maior taxa de letalidade: País    Korea, North
País    Korea, North
País    Korea, North
Name: 93, dtype: object - Taxa: 600.00%
País com a menor taxa de letalidade: País    Antarctica
País    Antarctica
País    Antarctica
Name: 5, dtype: object - Taxa: 0.00%

### Exercício 6

- Utilize a biblioteca Matplotlib para plotar gráficos que ajudem a visualizar as taxas calculadas no exercício anterior.